<footer class="container">
    <div class="wrapper center-text">
      {% filter enkode_emails %}
        <p class="sm-text">&copy; {{ now|date('Y') }} <a href="mailto:smockensturm@gmail.com"><i class="fa fa-envelope"></i> Contact</a></p>
      {% endfilter %}
    </div>
</footer>