{% extends "_layout" %}

{% block content %}

{# navigation #}

<div class="navbar navbar-fixed-top pd-h-10">
  <span class="brand-top">
    <a href="/"><img src="/assets/img/ac_logo_mark.svg" alt="The Arts Commission Logo"></img></a>
  </span>
      <span class="nav-title">The Arts Commission <a href="/shop" class="nav-shop">Shop</a></span>
</div>


<section>
  <div class="section-wrapper shop">
  <div class="shop-detail">
  <article>
      <p>Looks like a successful transaction. Instructions to pick up your art.</p>
      <p>Go Back to <a href="/shop" class="nav-shop">Shop</a></p>
  </article>
  </div>
  </div>
  </section>





{% endblock %}