<!DOCTYPE html>
<html lang="en">

	{% set version = '0.3' %}

	{% include '_includes/global/head' with {version: version} %}

	<body class="{{class|default('')}}">

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include '_includes/global/footer' %}

		{# <div class="hamburger-nav-wrapper">

			<div class="hamburger hamburger--slider nav-trigger" data-open-modal="navigation-modal">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>

			<div class="menu-id">
				<p>MENU</p>
			</div>
		</div> #}

		<nav class="navigation-modal">

			<section>
				<div class="container">

					<figure class="page-head">
						<div claSS="intro">
							<h4>S. Mockensturm</h4>
						</div>
					</figure>

					<div class="naav">

						{# <section data-navigation-name="">
							<h5>Painting / Drawing</h5>
							<nav>
								<a href="/the-latest">The Latest</a>
								<a href="/earlier">Earlier</a>
								<a href="/process">Process</a>
							</nav>
						</section> #}


						{# <section data-navigation-name="">
							<h5>Assignments</h5>
							<nav>
								<a href="/99days">99 Days</a>
								<a href="/produce-produce">Produce Produce</a>
								<a href="/harrys-photos">Harry's Photos</a>
							</nav>
						</section> #}

						<section data-navigation-name="">
							{# <h5>Details</h5> #}
							<a href="/assets/pdf/statement_smockensturm.pdf">Statement <i class="far fa-file-pdf"></i></a>
							<a href="/assets/pdf/cv_smockensturm.pdf">C.V. <i class="far fa-file-pdf"></i></a>

							{# <h5>Artists' Log</h5>
							<nav>
								{% set entries = craft.entries.section('logs').orderBy('postDate desc').all() %}
								{% for entry in entries %}
									<a href="{{ entry.getUrl() }}">{{ entry.title }}</a>
									<p class="sm-text">{{entry.postDate|date('F j, Y')}}</p>
								{% endfor %}
							</nav> #}
						</section>

					</div>
				<div>



			</section>

			{% include '_includes/global/footer' %}

		</nav>

		{% include '_includes/global/scripts' with {version: version} %}

	</body>
</html>

