{% extends "_layout" %}

{% if craft.app.request.getSegment(1) %}
	{% set slug = craft.app.request.getSegment(1) %}
{% else %}
	{% set slug = "the-latest" %}
{% endif %}

{% set entry = craft.entries.slug(slug).one() %}

{% block content %}

	<div class="parallax-window" data-parallax="scroll" data-position="center center" data-image-src="/images/faux01.jpg"></div>

	{# <section style="height: 100vh;">
		<div class="container splash">
			<div >
				Hello World
			</div>
		</div>
	</section> #}

	<section>
		<div class="container">
			<article>
				<h2>I use pigments and oils, brushes and knives to make pictures on wood and canvas. I tend to work loose and slow, building layers, pushing edges around, pitting dark against light. My approach to painting is vocational; there is work to do and there are problems to solve.</h2>
			</article>
		</div>
	</section>

	<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/images/IMG_0697.jpg"></div>

	<section>
		<div class="container">
			Section
		</div>
	</section>
{% endblock %}
