{% extends "_layout" %}

{% block content %}

	<section class="">
		<div class="vessels container">
			<div>
			<h1>S. Mockensturm</h1>
			{# <h1>Still:Life</h1>
			<p>New Paintings</p> #}
			</div>

			{# <div>
			<br/>
			<h3>July 10 - August 29, 2023</h3>
			<br/>
			<p><a href="https://www.mcpa.org/about/art-gallery">Fisher/Wall Art Gallery @ MCPA</a>
			200 W. Main Cross Street<br/>
			Findlay, Ohio</p>
			</div> #}

			<div class="naav" style="margin-right: 0;">
				<br/>
				<a href="/assets/pdf/statement_smockensturm.pdf"><i class="far fa-file-pdf"></i> Statement</a>
				<a href="/assets/pdf/cv_smockensturm.pdf"><i class="far fa-file-pdf"></i> C.V.</a>
				<a href="https://www.instagram.com/_smockensturm/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a>
			</div>
		</div>
	</section>

	<div class="parallax-window" data-parallax="scroll" data-position="center center" data-image-src="/assets/jpgs/lemons-and-hips.jpg"></div>

	<section>
		<div class="statement container">
			<article class="center">
				<h2>Be still.</h2>
			</article>
		</div>
	</section>

	<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/jpgs/dragon-and-quince.jpg"></div>

	<section>
		<div class="statement container">
			<article>
				<h2>I put it there on the wall next to the picture "Jupiter and Thetis", for a pear like that would overthrow any god.</h2>
				<p>Edgar Degas</p>
			</article>
		</div>
	</section>

	<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/jpgs/orange-and-orchid.jpg"></div>

	<section>
		<div class="statement container">
			<article class="">
				<h2>Stillness is our most intense mode of action. It is in our moments of deep quiet that is born every idea, emotion, and drive which we eventually honor with the name of action.</h2>
				<p>Leonard Bernstein</p>
			</article>
		</div>
	</section>

	<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/jpgs/whiskey-and-lemon.jpg"></div>

	<section>
		<div class="statement container">
			<article class="">
				<h2>Wisdom comes with the ability to be still. Just look and listen. No more is needed.</h2>
				<p>Eckhart Tolle</p>
			</article>
		</div>
	</section>

	<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/jpgs/bowl-and-cards.jpg"></div>

{% endblock %}
