{% extends "_layout" %}

{% block content %}

	{# <div class="parallax-window" data-parallax="scroll" data-position="center center" data-image-src="/images/faux01.jpg"></div> #}

	{# <section class="splash"></section> #}
	<section class="splash">
		<div class="vessels container">
			<div>
			S. Mockensturm<br/>
			<h1>Still:Life</h1>
			New Paintings<br/>
			</div>

			<div>
			<br/>
			<h3>July 10- August 29, 2023</h3>
			<br/>
			Fisher/Wall Art Gallery @ MCPA<br/>
			200 W. Main Cross Street<br/>
			Findlay, Ohio<br/>
			</div>

			<div class="naav" style="margin-right: 0;">
				<br/>
				<a href="/assets/pdf/statement_smockensturm.pdf">Statement <i class="far fa-file-pdf"></i></a>
				<a href="/assets/pdf/cv_smockensturm.pdf">C.V. <i class="far fa-file-pdf"></i></a>
			</div>
		</div>
	</section>



	<div class="parallax-window" data-parallax="scroll" data-position="center center" data-image-src="/images/faux01.jpg"></div>


	<section>
		<div class="container">
			<article>
				<h2>I use pigments and oils, brushes and knives to make pictures on wood and canvas. I tend to work loose and slow, building layers, pushing edges around, pitting dark against light. My approach to painting is vocational; there is work to do and there are problems to solve.</h2>
			</article>
		</div>
	</section>

	<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/images/IMG_0697.jpg"></div>

	<section>
		<div class="container">
			Section
		</div>
	</section>

{% endblock %}
