{% extends "_layout" %}

{% block content %}
	<section style="background-image: url(/assets/images/dragon.jpg);background-size: cover; background-position: center center;">
		<div class="vessels container">
			<div>
			S. Mockensturm<br/>
			<h1>Still:Life</h1>
			New Paintings<br/>
			</div>

			<div>
			<br/>
			<h3>July 10- August 29, 2023</h3>
			<br/>
			Fisher/Wall Art Gallery @ MCPA<br/>
			200 W. Main Cross Street<br/>
			Findlay, Ohio<br/>
			</div>

			<div class="naav" style="margin-right: 0;">
				<br/>
				<a href="/assets/pdf/statement_smockensturm.pdf">Statement <i class="far fa-file-pdf"></i></a>
				<a href="/assets/pdf/cv_smockensturm.pdf">C.V. <i class="far fa-file-pdf"></i></a>
			</div>
		</div>
	</section>
{% endblock %}
