{% extends "_layout" %}
    
{% block content %}


<section>
  <div class="container copy">
      <div class="page-content">
        <div class="readable">

          <article class="article">
              <h2>Artist Statement</h2>
              {# <p class="sm-text"></p> #}
              <p>I use pigments and oils, brushes and knives to make pictures on wood and canvas. I tend to work loose and slow, building layers, pushing edges around, pitting dark against light. My approach to painting is vocational; there is work to do and there are problems to solve.</p>
              <p>The goal, the overall effect, is natural realism. I like to paint and draw through direct observation and come up with a bold and accurate report of the scene. Details emerge but the light, feeling and atmosphere are what I’m after.</p>
              <p>The first time I heard the term Still Life, I couldn’t believe this was even a thing. Years later I learned the term has historically occupied the lowest tier in the hierarchy of artistic genres. To my mind, however, the realistic Still Life is so much more than polite decoration with lemons and bugs, but rather a fortifying tonic for disorder and confusion.</p>
              <p>The invitation is to rest. The scene is a durable and intimate tableau—a table—never far removed from the notion of gathering. The items are ordinary, natural and true. The eye can move without strain. The essence of the setup can be interrogated again and again and again.</p>
              <P>I believe that “lucidity, deliberation, probity and calm” remain the most important virtues of painting. Scientific principles of light, energy and matter fascinate me. I wish to remind and be reminded that the world is a real place with real things that we can touch and hold and see.</p>
        </article>       
       
        </div>


        
        
      </div>
  </div>
</section>

{% endblock %}